<div class="book-columns flex flex-wrap">
  <div style="min-width: 1px; width: 1px; padding: 0 0 0 0; margin: 6px 0;background:rgba(255, 255, 255, 0.1);;"></div>
  {{ range split .Inner "<--->" }}
  <div class="flex-even markdown-inner">
    {{ . | markdownify }}
  </div>
  {{ if .}}
  <div style="min-width: 1px; width: 1px; padding: 0 0 0 0; margin: 6px 0;background:rgba(255, 255, 255, 0.1);;"></div>
  <img src="/music/Brain--Line-Art-Illustration.svg" alt=" " width="80em" style="border-radius:50px;">
  {{ end }}
  {{ end }}
</div>