/* You can add custom styles here. */

a.footptr {
    vertical-align: super;
    font-size: .83em;
    text-decoration: none;
}
a.refptr {
    text-decoration: none;
}
.foot-tooltip {
    background-color: #AAAAAA22;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

li:target {
    background-color: #BFEFFF;
}

ol#references {
    list-style:none;
	margin-left: 0;
	padding-left: 1.8em;
	text-indent: -1.8em;

    counter-reset: refcounter;
}
ol#references > li:before {
  content: "[" counter(refcounter) "] ";
  counter-increment: refcounter;
}

ol#footnotes {
    list-style:none;
	margin-left: 0;
	padding-left: 1.8em;
	text-indent: -1.8em;

    counter-reset: footcounter;
}
ol#footnotes > li:before {
  content: "(" counter(footcounter) ") ";
  counter-increment: footcounter;
}
// For the webmentions
#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
}

#webmentions .comments {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
}

#webmentions h2 {
    // font-size: medium;
    font-size: 1.1em;
    margin: 0;
    padding: 2px;
    // background: #333;
}

#webmentions .reacts img {
    margin: 3px -1ex 1px 0;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px white;
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    max-height: 1.3em;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#webmentions .comments li .text {
    // color: #555;
    font-style: italic;
    text-decoration: none;
}

// #webmentions .comments li .name {
//     color: #111;
// }



// Imported from https://www.w3schools.com/w3css/4/w3.css for the sake of a blog post
.w3-bar{width:100%;overflow:hidden}.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.w3-blue,.w3-hover-green:hover{color:#fff!important;background-color:#3dc6d8!important}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-round-xxlarge{border-radius:32px}
.w3-block{display:block;width:100%}

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #fff transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}