html {
  font-size: $font-size-base;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  min-width: $body-min-width;
  color: var(--body-font-color);
  // background: var(--body-background);
  background: linear-gradient(-90deg, #111111, #232323, #222222, #1d1d1d);
  //letter-spacing: 0.33px;
  //font-weight: $body-font-weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }

  overflow-x: hidden;
  max-width: 100%;

}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;
}

img {
  vertical-align: baseline;
}

:focus {
  @include outline;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    font-size: small;
    margin: 1em 0;
    position: relative;
  }

  a {
    display: block;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding-inline-start: $padding-16;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-icon {
  filter: var(--icon-filter);
}

.book-brand {
  font-family: 'Space Mono', monospace;
  margin-top: 0;

  img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin-inline-end: $padding-8;
  }
}

.book-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;

  nav {
    width: $menu-width;
    padding: .7em;
    background: var(--body-background);
    font-family: 'Space Mono', monospace;
    color: #000000;

    @include fixed;
  }

  a.active {
    font-weight: bold;
  }

  a,
  label {
    color: #FFFFFF;
    cursor: pointer;
    word-wrap: break-word;
  }

  input.toggle + label + ul {
    display: none;
  }

  input.toggle:checked + label + ul {
    display: block;
  }
}

.book-section-flat {
  margin-bottom: $padding-16 * 2;

  &:not(:first-child) {
    margin-top: $padding-16 * 2;
  }

  > a,
  > span,
  > label {
    font-weight: bolder;
  }

  > ul {
    padding-inline-start: 0;
  }
}

.book-page {
  min-width: $body-min-width;
  flex-grow: 1;
  // padding: $padding-16;
  padding-top: 1rem;
  padding-left: 1rem;
  .markdown{
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
  }
}

.book-post {
  margin-bottom: $padding-16 * 3;
}

.book-header {
  display: none;
  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }
}

.book-search {
  position: relative;
  margin: $padding-16 0;
  border-bottom: 1px solid transparent;

  input {
    width: 100%;
    padding: $padding-8;

    border: 0;
    border-radius: $border-radius;

    background: var(--gray-100);
    color: var(--body-font-color);

    &:required + .book-search-spinner {
      display: block;
    }
  }

  .book-search-spinner {
    position: absolute;
    top: 0;
    margin: $padding-8;
    margin-inline-start: calc(100% - #{$padding-16 + $padding-8});

    width: $padding-16;
    height: $padding-16;

    border: $padding-1 solid transparent;
    border-top-color: var(--body-font-color);
    border-radius: 50%;

    @include spin(1s);
  }

  small {
    opacity: 0.5;
  }
}

.book-toc {
  flex: 0 0 $toc-width;
  font-size: $font-size-12;

  nav {
    width: $toc-width;
    padding: $padding-16;

    // @include fixed;
  }

  img {
    height: 1em;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }
}

.book-footer {
  padding-top: $padding-16;
  font-size: $font-size-14;

  img {
    height: 1em;
    margin-inline-end: $padding-8;
  }
}

.book-comments {
  margin-top: $padding-16;
}

.book-languages {
  position: relative;
  overflow: visible;

  padding: $padding-16;
  margin: -$padding-16;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      white-space: nowrap;
      cursor: pointer;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .book-languages-list {
      display: block;
    }
  }

  .book-languages-list {
    display: none;

    position: absolute;
    bottom: 100%;
    left: 0;
    padding: $padding-8 0;

    background: var(--body-background);
    box-shadow: 0 0 $padding-4 rgba(0, 0, 0, 0.1);

    li img {
      opacity: 0.25;
    }

    li.active img,
    li:hover img {
      opacity: initial;
    }

    a {
      color: inherit;
      padding: $padding-8 $padding-16;
    }
  }
}

.book-home {
  padding: $padding-16;
}

// Responsive styles
aside nav,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;
  will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
  #menu-control,
  #toc-control {
    display: inline;
  }

  .book-menu {
    visibility: hidden;
    margin-inline-start: -$menu-width;
    font-size: $font-size-base;
    z-index: 1;
  }

  .book-toc {
    display: none;
  }

  .book-header {
    display: block;
  }

  #menu-control:focus ~ main label[for="menu-control"] {
    @include outline;
  }

  #menu-control:checked ~ main {
    .book-menu {
      visibility: initial;
    }

    .book-menu nav {
      transform: translateX($menu-width);
      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .book-page {
      opacity: 0.25;
    }

    .book-menu-overlay {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  #toc-control:focus ~ main label[for="toc-control"] {
    @include outline;
  }

  #toc-control:checked ~ main {
    .book-header aside {
      display: block;
    }
  }

  //for RTL support
  body[dir="rtl"] #menu-control:checked + main {
    .book-menu nav {
      transform: translateX(-$menu-width);
    }
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu nav,
  .book-toc nav {
    padding: $padding-16 * 2 $padding-16;
  }
}

p.tip,
tr:nth-child(2n) {
	background-color: #00000077;
}

p.tip {
	border-bottom-right-radius: 2px;
	border-left: 4px solid #f66;
	border-top-right-radius: 2px;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
	position: relative
}

p.tip:before {
	background-color: #f66;
	border-radius: 20%;
	color: #fff;
	content: "!";
	font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	left: -12px;
	line-height: 20px;
	position: absolute;
	height: 20px;
	width: 20px;
	text-align: center;
	top: 14px
}

p.tip code {
	background-color: #efefef22
}

p.tip em {
	color: #34495e
}

p.warn {
	background: rgba(66, 185, 131, .1);
	border-radius: 2px;
	padding: 1rem
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #00000044;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
}

::-webkit-scrollbar-thumb {
  background: #dddddd;
}

a {
  font-family: 'Space Mono', monospace;
}

.navbak{
  padding-left: .5em;
  padding-right: .1em;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  h2.glitch{
    color: white;
    font-weight: 400;
    position: relative;
    font-size: 2em;
    padding: 30px;
  }
    
  h2.glitch::before, h1.glitch::after{
    padding: 30px;
    color: white;
    content: "Chapter 2: The Digital";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222222;
    overflow: hidden;
    top: 0;
  }
  
  h2.glitch::before{
    left: 3px;
    text-shadow: -2px 0 red;
    animation-name: glitch-animation-1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
    
  h2.glitch::after{
    left: -3px;
    text-shadow: -2px 0 blue;
    animation-name: glitch-animation-2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: reverse-alternate;
  }
}
  
@keyframes glitch-animation-1 {
  0% {
    clip: rect(61px, 850px, 126px, 30px);
  }
  5% {
    clip: rect(45px, 850px, 59px, 30px);
  }
  10% {
    clip: rect(48px, 850px, 101px, 30px);
  }
  15% {
    clip: rect(21px, 850px, 17px, 30px);
  }
  20% {
    clip: rect(25px, 850px, 25px, 30px);
  }
  25% {
    clip: rect(71px, 850px, 73px, 30px);
  }
  30% {
    clip: rect(17px, 850px, 99px, 30px);
  }
  35% {
    clip: rect(129px, 850px, 61px, 30px);
  }
  40% {
    clip: rect(55px, 850px, 74px, 30px);
  }
  45% {
    clip: rect(134px, 850px, 14px, 30px);
  }
  50% {
    clip: rect(136px, 850px, 129px, 30px);
  }
  55% {
    clip: rect(100px, 850px, 100px, 30px);
  }
  60% {
    clip: rect(122px, 850px, 26px, 30px);
  }
  65% {
    clip: rect(33px, 850px, 140px, 30px);
  }
  70% {
    clip: rect(7px, 850px, 58px, 30px);
  }
  75% {
    clip: rect(48px, 850px, 141px, 30px);
  }
  80% {
    clip: rect(120px, 850px, 112px, 30px);
  }
  85% {
    clip: rect(86px, 850px, 29px, 30px);
  }
  90% {
    clip: rect(9px, 850px, 84px, 30px);
  }
  95% {
    clip: rect(34px, 850px, 59px, 30px);
  }
  100% {
    clip: rect(72px, 850px, 87px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(140px, 150px, 51px, 30px);
  }
  5% {
    clip: rect(4px, 150px, 70px, 30px);
  }
  10% {
    clip: rect(31px, 150px, 123px, 30px);
  }
  15% {
    clip: rect(124px, 150px, 78px, 30px);
  }
  20% {
    clip: rect(3px, 150px, 27px, 30px);
  }
  25% {
    clip: rect(73px, 150px, 96px, 30px);
  }
  30% {
    clip: rect(142px, 150px, 147px, 30px);
  }
  35% {
    clip: rect(15px, 150px, 135px, 30px);
  }
  40% {
    clip: rect(34px, 150px, 68px, 30px);
  }
  45% {
    clip: rect(101px, 150px, 96px, 30px);
  }
  50% {
    clip: rect(11px, 150px, 144px, 30px);
  }
  55% {
    clip: rect(64px, 150px, 80px, 30px);
  }
  60% {
    clip: rect(146px, 150px, 125px, 30px);
  }
  65% {
    clip: rect(105px, 150px, 70px, 30px);
  }
  70% {
    clip: rect(125px, 150px, 9px, 30px);
  }
  75% {
    clip: rect(126px, 150px, 135px, 30px);
  }
  80% {
    clip: rect(117px, 150px, 2px, 30px);
  }
  85% {
    clip: rect(20px, 150px, 10px, 30px);
  }
  90% {
    clip: rect(24px, 150px, 66px, 30px);
  }
  95% {
    clip: rect(88px, 150px, 57px, 30px);
  }
  100% {
    clip: rect(130px, 150px, 129px, 30px);
  }
}

.progress-ww {
  text-align:left;
}
.progress-ww div {
  display: flex;
  padding:0 0 0 0px;
}
dl { 
width: 100%;
margin-top:0;
}
dt , dd {
  display:inline-block;
  vertical-align:top;
  margin:0;
  padding:12px 10px 0 0;
  color: #fff;
  font-size: small;
}
dt {
  width: 17%;
  text-align:right;
}
dd {
  width: 80%;
  text-align:left;
}
dt:after {content:'-';}

dt.sub, dd.sub {
  padding:8px 0 0 0 !important;
}

dt.sub:after {content:':';}