.markdown {
  // {{< expand "Label" "icon" >}}
  .book-expand {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    .book-expand-head {
      background: var(--gray-100);
      padding: $padding-8 $padding-16;
      cursor: pointer;
    }

    .book-expand-content {
      display: none;
      padding: $padding-16;
    }

    input[type="checkbox"]:checked + .book-expand-content {
      display: block;
    }
  }

  // {{< tabs >}}
  .book-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;

    border: $padding-1 solid var(--gray-200);
    border-radius: $border-radius;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;

    label {
      display: inline-block;
      padding: $padding-8 $padding-16;
      border-bottom: $padding-1 transparent;
      cursor: pointer;
    }

    .book-tabs-content {
      order: 999; //Move content blocks to the end
      width: 100%;
      border-top: $padding-1 solid var(--gray-100);
      padding: $padding-16;
      display: none;
    }

    input[type="radio"]:checked + label {
      border-bottom: $padding-1 solid var(--color-link);
    }
    input[type="radio"]:checked + label + .book-tabs-content {
      display: block;
    }
    input[type="radio"]:focus + label {
      @include outline;
    }
  }

  // {{< columns >}}

  .book-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    > div {
      margin: $padding-16 0;
      min-width: $body-min-width / 2;
      padding: 0 $padding-16;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .book-columns {
      margin-left: -$padding-16;
      margin-right: -$padding-16;
  
      > div {
        margin: $padding-16 0;
        // Setting this to not be /2 makes this work on mobile.
        min-width: $body-min-width; 
        padding: 0 $padding-16;
      }
    }
  }

  .book-columns2 {
    margin-left: -$padding-16;
    margin-right: -$padding-16;

    > div {
      min-width: $body-min-width / 2;
      padding: 0 $padding-16;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    .book-columns2 {
      margin-left: -$padding-16;
      margin-right: -$padding-16;
  
      > div {
        margin: $padding-16 0;
        // Setting this to not be /2 makes this work on mobile.
        min-width: $body-min-width; 
        padding: 0 $padding-16;
      }
    }
  }

  // {{< button >}}
  a.book-btn {
    display: inline-block;
    font-size: $font-size-14;
    color: var(--color-link);
    line-height: $padding-16 * 2;
    padding: 0 $padding-16;
    border: $padding-1 solid var(--color-link);
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  // {{< hint >}}
  .book-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.1);
      }
    }
  }

  .attribution {
    line-height: 1;
    font-size: $font-size-12;
    padding-bottom: 20px;
  }

  .smalltext {
    line-height: 1;
    font-size: $font-size-12;
  }

div.quote, tr:nth-child(2n) {
	background-color: #00000033;
}

// Quotes

div.quote {
	border-bottom-right-radius: 2px;
	border-left: 4px solid #777;
	border-top-right-radius: 2px;
	margin: 2em 0;
	padding: 12px 24px 12px 30px;
	position: relative
}

div.quote:before {
	background-color: #222;
	border-radius: 100%;
	color: #fff;
	content: "\"";
	font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
	font-size: 44px;
	font-weight: 700;
	left: -12px;
	line-height: 44px;
	position: absolute;
	height: 25px;
	width: 25px;
	text-align: center;
}

div.quote em {
	color: #fff
}

// Speech Bubbles

div.speech, tr:nth-child(2n) {
	background-color: #181818;
}

div.speech {
  border-bottom-right-radius: 2px;
  border-left: 2px solid #777;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 70px;
  position: relative;
  width: 70%;
  border-radius: 5%;
}

div.speech.right {
  border-bottom-right-radius: 2px;
  border-right: 2px solid #777;
  border-left: none;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 70px 12px 20px;
  position: relative;
  width: 70%;
  border-radius: 5%;
  float: right;
  background-color: #333 !important;
}

div.speech:before {
  background-color: #181818;
  background-image: url("/nonfree/character/opguidesSiplick.png");
  background-size: 75px;
  border-radius: 100%;
  border: 1px solid #777;
  content: "";
  left: -40px;
  top: 4px;
  position: absolute;
  height: 75px;
  width: 75px;
}

div.speech.boi:before {
  background-color: #181818;
  background-image: url("/nonfree/character/inhale.webp");
  background-size: 75px;
  border-radius: 100%;
  content: "";
  left: -40px;
  top: 4px;
  position: absolute;
  height: 75px;
  width: 75px;
}

div.speech.throw::before {
  background-color: #181818;
  background-image: url("/nonfree/character/throw.png");
  background-size: 75px;
  border-radius: 100%;
  content: "";
  left: -40px;
  top: 4px;
  position: absolute;
  height: 75px;
  width: 75px;
}

div.speech.right::before {
  left: 92% !important;
  text-align: right;
}

div.speech em {
	color: #fff
}

.spoiler{ 
  color: #181818; 
  background-color:#181818;
}

.spoiler:hover { 
  background-color:#0000;
  color: #fff; 
  }

}
