<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">

<html lang="{{ .Site.Language.Lang }}" dir={{ .Site.Language.LanguageDirection }}>

<link href="https://github.com/VegaDeftwing" rel="me">

<link rel="webmention" href="https://webmention.io/opguides.info/webmention" />
<link rel="pingback" href="https://webmention.io/opguides.info/xmlrpc" />

<script src="/webmention.min.js" async></script>

<script src="/footnotes.js"> </script>
<script src="/js/egg.min.js"> </script>

<script>
  var egg = new Egg("d,e,v", function() {
    var elements = document.getElementsByClassName("egg");
    for(var i = 0; i < elements.length; i++) {
      elements[i].removeAttribute("hidden");
    }
  }).listen();
</script>

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body dir={{ .Site.Language.LanguageDirection }}>

        <!-- Hack to do background on Engineering Intro Page -->
        {{if eq .Title "Engineering"}}
        <div id="canvasContainer">
          <canvas id="backcanvas"></canvas>
        </div>
        {{ end }}

  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "c6f9eeb56e4645ee9ca07afbee7e0462"}'></script><!-- End Cloudflare Web Analytics -->

  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      {{ template "menu" . }} <!-- Left menu Content -->
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">
      {{ template "toc" . }} <!-- Table of Contents -->
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>

</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
